@page "/orders/"
@implements IDisposable

@using MudBlazor.Utilities;
@using Ui.WebAssembly.Models;

@inject PersistentComponentState ApplicationState

@if (Orders == null)
{
    <MudProgressCircular Color="Color.Success" Indeterminate="true" />
}
else
{
    <MudPaper Class="mb-3 pa-4">
        <MudButton ButtonType="ButtonType.Button" Color="Color.Success" OnClick="CheckDataDifference">Check difference</MudButton>
        <div class="d-flex justify-start align-center">
            <p class="mud-typography mud-typography-body1 mud-inherit-text mr-2">Form</p>
            <MudSwitch @bind-Checked="@_isCellEditMode">Cell</MudSwitch>
        </div>
    </MudPaper>

    <MudPaper>
        <MudDataGrid id="generic-datagrid" T="OrderDto" Items="Orders" ReadOnly="false" EditMode="@(_isCellEditMode ? DataGridEditMode.Cell : DataGridEditMode.Form)"
                 Filterable="true" QuickFilter="@_quickFilter"
                 StartedEditingItem="@StartedEditingItem"
                 CanceledEditingItem="@CanceledEditingItem"
                 CommittedItemChanges="@CommittedItemChanges">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Order Elements</MudText>
                <MudSpacer />
                <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>

            <Columns>
                @if (Orders is not null)
                {
                    <PropertyColumn Property="x => x.Id" IsEditable="false" />
                    <PropertyColumn Property="x => x.CustomerName" />
                    <PropertyColumn Property="x => x.OrderDate" Title="OrderDate" Format="MMMM dd, yyyy">
                        <EditTemplate>
                            <MudDatePicker @bind-Date="context.Item.OrderDate" Placeholder="Select Date"
                                   Editable="true" DateFormat="yyyy/MM/dd" />
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.PaymentDate" Title="Payment Date" Format="MMMM dd, yyyy">
                        <EditTemplate>
                            <MudDatePicker @bind-Date="context.Item.PaymentDate" Placeholder="Select Date"
                                   Editable="true" DateFormat="yyyy/MM/dd" />
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.OrderTypeId" IsEditable="true">
                        <EditTemplate>
                            <MudSelect T="int" Dense="true" @bind-Value="context.Item.OrderTypeId">
                                @foreach (var orderType in _orderTypes)
                                {
                                    <MudSelectItem T="int" Value="@orderType.Id">@orderType.Name</MudSelectItem>
                                }
                            </MudSelect>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Property="x => x.TotalPrice" HideSpinButtons="true" IsEditable="true" />
                    <PropertyColumn Property="x => x.Remains" IsEditable="true" />
                    <PropertyColumn Property="x => x.ZipCode" IsEditable="true" />
                    <PropertyColumn Property="x => x.FactorId" IsEditable="true" />
                    <PropertyColumn Property="x=>x.IsOrder" />
                    <TemplateColumn Hidden="@_isCellEditMode" CellClass="d-flex justify-end">
                        <CellTemplate>
                            <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItemAsync" />
                        </CellTemplate>
                    </TemplateColumn>
                }
            </Columns>
        </MudDataGrid>
    </MudPaper>
}
@code{
    


    
}